<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<add key="EndpointURL" value="http://localhost"/>
		<add key="ApiKey" value="SandboxKey"/>
		<add key="EndpointID" value="Test"/>
		<add key="IntervalTime" value="60"/>
	</appSettings>
</configuration>